doc/*.dia~
_ReSharper.RWSOptOut/
*resharper*
*.user
*.suo
app/*/bin/
obj/
Logs/
nhibernate.log
*.bak
*.orig
*.LOCAL*
*.REMOTE*
*.BASE*
*.BACKUP*
*.hbm.xml
Artifacts/
Artifacts2/
*.cache
TestResult.xml
Thumbs.db
app/RWSOptOut.Web/createschema.sql
