<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="emailsender.service"
               service="Castle.Core.Smtp.IEmailSender, Castle.Core"
               type="Castle.Core.Smtp.DefaultSmtpSender, Castle.Core">
      <parameters>
        <hostname>beaker</hostname>
      </parameters>
    </component>
    
  </components>

   <facilities>
    <facility
       id="logging"
       type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
       loggingApi="log4net"
       configFile="log4net.config" />
    <facility
       id="atm"
       type="Castle.Facilities.AutoTx.TransactionFacility, Castle.Facilities.AutoTx" />
    <facility
       id="arfacility"
       type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration"
       verifyModelsAgainstDBSchema="false"
       pluralizeTableNames="false"
       default-lazy="true"
       default-cascade="none"
       isDebug="false"
       isWeb="true"
       flush="leave">
      <!-- Configure the namespaces for the models using Active Record Integration -->
      <assemblies>
        <item>RobtaPayment.Model</item>
      </assemblies>
      <config>
        <add key="adonet.batch_size" value="25" />
        <add key="connection.connection_string_name" value="DefaultDatabase" />
        <add key="connection.isolation" value="ReadCommitted" />
        <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider, NHibernate" />
        <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect, NHibernate" />
        <add key="query.substitutions" value="true=1,false=0" />
        <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
        <add key="show_sql" value="false" />
      </config>
    </facility>
  </facilities>
</castle>
