<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
  </appSettings>

  <activerecord pluralizeTableNames="false" default-lazy="true" isDebug="false" isWeb="false">
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver"/>
      <add key="dialect" value="NHibernate.Dialect.SQLiteDialect"/>
      <add key="connection.connection_string" value="Data Source=:memory:;Version=3;New=True;"/>
      <add key="connection.release_mode" value="on_close"/>
      <add key="connection.provider" value="Auxilium.Development.SqLiteInMemoryTestingConnectionProvider, Auxilium.Development"/>
      <add key="query.substitutions" value="true=1;false=0"/>
      <add key="show_sql" value="false"/>
      <add key="adonet.batch_size" value="25"/>
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
    </config>
  </activerecord>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
